# Using an OpenAI-compatible API. Leave it blank to use the default OpenAI API.
OPENAI_BASE_URL=https://<endpoint>.services.ai.azure.com/openai/v1/

OPENAI_API_KEY=<your_api_key_here>
OPENAI_MODEL=gpt-6-luna
